.PokedexContainer {
    display: block;
    justify-content: center;
    align-items: center;
}

.SelectFilterButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}