.pokemon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    gap: 8px;
    padding: 32px 24px;
}

.pokemon_image {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.pokemon_number {
    font-family: "Pirata One", serif;
    font-size: 18px;
    font-weight: 400;
}

.pokemon_name {
    font-family: "Pirata One", serif;
    font-size: 36px;
    font-weight: 600;
}

.pokemon_types {
    font-family: "Merriweather", serif;
    font-size: 24px;
    font-weight: 300;
}